.FancyBorder{
    color: #666;
    .blue{
        color: green;
    }
}
body{
    background-color: chartreuse;
}

@mixin pad{
    @media(max-width: 768px){
        //要記得寫 @content
        @content
    }
}
@mixin mobile{
    @media(max-width: 568px){
        @content
    }
}
.header{
    width: 500px;
    @include pad{
        width: 100px;
        font-size: 20px;
    }
    @include mobile{
        font-size: 10px;
    }
}